.header{
    background: #4ee3cd;
    color: #000;
    padding: 20px;
    box-sizing: border-box;
}
.header .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    text-align: right;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}












